h1{
    padding: 400px 0px 0px 150px;
    height: 40px;
}

.bakery-basket-img{
    height: 400px;
    width: 600px;
}

.why-choose-us-img{
    height: 180px;
    width: 260px;
    margin:10px;
    margin-top: 25px;
    border-top: solid 15px #716040;
    
}